In [1]:
!pip install boto3

Collecting boto3
  Downloading boto3-1.37.3-py3-none-any.whl.metadata (6.6 kB)
Collecting botocore<1.38.0,>=1.37.3 (from boto3)
  Downloading botocore-1.37.3-py3-none-any.whl.metadata (5.7 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\nilay\anaconda3\lib\site-packages (from boto3) (1.0.1)
Collecting s3transfer<0.12.0,>=0.11.0 (from boto3)
  Downloading s3transfer-0.11.3-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\nilay\appdata\roaming\python\python312\site-packages (from botocore<1.38.0,>=1.37.3->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in c:\users\nilay\anaconda3\lib\site-packages (from botocore<1.38.0,>=1.37.3->boto3) (2.2.3)
Requirement already satisfied: six>=1.5 in c:\users\nilay\appdata\roaming\python\python312\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.38.0,>=1.37.3->boto3) (1.16.0)
Downloading boto3-1.37.3-py3-none-any.whl (139 kB)
Downloading botocore-1.37.3-py3-none-any.whl (13.3 MB)
   ---------------------------------------- 0.0/13.3 MB ? eta -:--:--
   ------------ --------------------------- 4.2/13.3 MB 21.0 MB/s eta 0:00:01
   -------------------------- ------------- 8.9/13.3 MB 22.1 MB/s eta 0:00:01
   ---------------------------------------- 13.3/13.3 MB 21.5 MB/s eta 0:00:00
Downloading s3transfer-0.11.3-py3-none-any.whl (84 kB)
Installing collected packages: botocore, s3transfer, boto3
  Attempting uninstall: botocore
    Found existing installation: botocore 1.34.69
    Uninstalling botocore-1.34.69:
      Successfully uninstalled botocore-1.34.69
Successfully installed boto3-1.37.3 botocore-1.37.3 s3transfer-0.11.3

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
aiobotocore 2.12.3 requires botocore<1.34.70,>=1.34.41, but you have botocore 1.37.3 which is incompatible.
s3fs 2024.6.1 requires fsspec==2024.6.1.*, but you have fsspec 2024.2.0 which is incompatible.

In [2]:
import pandas as pd
import boto3

In [9]:
bucket = "superstore-data-nilay"
file_name = "car data.csv"

In [10]:
s3 = boto3.client('s3',
                 aws_access_key_id='AKIAR7HWYCOA7XQRD3UU',
                 aws_secret_access_key='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',
                 region_name='eu-north-1')

In [11]:
obj = s3.get_object(Bucket=bucket, Key=file_name)

In [12]:
obj

{'ResponseMetadata': {'RequestId': 'BW74A0JBJD4NXSFP',
  'HostId': 'kS2+aLBDEXdndetjbwaIceH2ngBEM9mm409s0AOK8vlf9q8yQRIYW5rQyHOBd4x3TwfQLFwxtTo=',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'kS2+aLBDEXdndetjbwaIceH2ngBEM9mm409s0AOK8vlf9q8yQRIYW5rQyHOBd4x3TwfQLFwxtTo=',
   'x-amz-request-id': 'BW74A0JBJD4NXSFP',
   'date': 'Fri, 28 Feb 2025 17:50:38 GMT',
   'last-modified': 'Fri, 28 Feb 2025 17:50:16 GMT',
   'etag': '"da8a10af9e4d2e00458ce126216220be"',
   'x-amz-checksum-crc64nvme': 'pQ8qsBnORJY=',
   'x-amz-checksum-type': 'FULL_OBJECT',
   'x-amz-server-side-encryption': 'AES256',
   'accept-ranges': 'bytes',
   'content-type': 'text/csv',
   'content-length': '10563',
   'server': 'AmazonS3'},
  'RetryAttempts': 0},
 'AcceptRanges': 'bytes',
 'LastModified': datetime.datetime(2025, 2, 28, 17, 50, 16, tzinfo=tzutc()),
 'ContentLength': 10563,
 'ETag': '"da8a10af9e4d2e00458ce126216220be"',
 'ChecksumCRC64NVME': 'pQ8qsBnORJY=',
 'ChecksumType': 'FULL_OBJECT',
 'ContentType': 'text/csv',
 'ServerSideEncryption': 'AES256',
 'Metadata': {},
 'Body': <botocore.response.StreamingBody at 0x2257ad752a0>}

In [13]:
df = pd.read_csv(obj['Body']) # 'Body' is a key word

In [16]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [ ]:
#EDA
#ML